body {
  background-image: url("../assets/images/money.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: indigo;
  font-size: 20pt;
}
.centered-text {
  text-align: center;
}
.jumbotron {
  background-image: url("../assets/images/jumbo-money.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 20px 20px;
  margin: 40px 0;
}
.blockquote, .blockquote-footer {
  font-size: 12pt;
}